# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*_ori*

pids
logs
results

npm-debug.log
node_modules
.openshift
