extends layout

block content  
    div(class="container-fluid")
        div(class="row")
            div(class="col-sm-3 col-md-2 sidebar")
                ul(class="nav nav-sidebar")
                    li(class="active")
                        a(href="#") Overview
                    li
                        a(href="#") Reports
                ul(class="nav nav-sidebar")
                    li
                        a(href="#") User Profile
                        
            div(class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main")
                if !user
                    h1(class="page-header") #{__('Welcome to %s', __('title'))}.
                else
                    h1(class="page-header") Hi #{user.local.username}, welcome to itemUP.

                p(class="lead") I'm a smart inventory management system.
                span(class="glyphicon glyphicon-search" style='white-space:pre;') 
                | 
                | Use this document as a way to quickly start any new project.
                | All you get is this text and a mostly barebones HTML document.
