extends layout

block content  
 div(class="jumbotron")
  div(class="container")
   h1 Bootstrap starter template
    p(class="lead",style='white-space:pre;') 
     span(class="glyphicon glyphicon-search")
     | Use this document as a way to quickly start any new project.
     | All you get is this text and a mostly barebones HTML document.
     | Test x, the user login...
     | Test Aui
     | Test CCC