extends layout

block content  
    div(class="container")
        if !user
            h1 Welcome to itemUP.
        else
            h1 Hi #{user.local.username}, welcome to itemUP.

        p(class="lead") I'm a smart inventory management system.
        span(class="glyphicon glyphicon-search" style='white-space:pre;') 
        | 
        | Use this document as a way to quickly start any new project.
        | All you get is this text and a mostly barebones HTML document.
