extends layout

block content 
  div(class="jumbotron")
    div(class="container")
      h1 Register Page
      form(role='form', action="/register",method="post", style='max-width: 400px;')
        div(class="form-group")
          input(type='text', name="username", placeholder='Enter Username or e-main')
          input(type='password', name="password", placeholder='Password')
        button(type='submit') Submit
        button(type="button") Cancel