// user_signup.jade

extends user_layout

block content  
    div(class="container")
        div(class="col-sm-6")
            h1
                span(class="fa fa-sign-in") Sign up
            // show any messages that come back with authentication
            if message.length > 0
                div(class="alert alert-danger") #{message}
                

            // LOGIN FORM
            form(action="/signup" method="post")
                div(class="form-group")
                    label Username
                        input(type="text" class="form-control" name="username")
                div(class="form-group")
                    label Password
                        input(type="password" class="form-control" name="password")
                button(type="submit" class="btn btn-warning btn-lg") Sign up

            hr
            p Already have an account?
                a(href="/signin") 
                    span  Sign in
            p Or go 
                a(href="/") 
                    span  home